<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of recipe</title>
</head>
<body>
<!--/*@thymesVar id="recipe" type="daniel.reciperproject.data.Recipe"*/-->
<h1 th:text="'List of recipes'">List of recipes...</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Time</th>
        <th>Products</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipe}">
        <td th:text="${recipe.id}">1</td>
        <td th:text="${recipe.name}">Joe</td>
        <td th:text="${recipe.time}">Joe</td>
        <td th:text="${recipe.products}">1</td>


    </tr>
    </tbody>
</table>

</body>
</html>